SIGNALWIRE_SPACE=your-space.signalwire.com
SIGNALWIRE_PROJECT_ID=
SIGNALWIRE_API_TOKEN=
SIGNALWIRE_FROM_NUMBER=
OWNER_NUMBER=+17204321453
CALL_TO_NUMBER=
DTMF_DIGITS=
AUDIO_URL=
KEYWORD=
WHISPER_MODEL=base
LISTEN_DURATION_SECONDS=60
SMS_MESSAGE=Its Pee 4 Cops day yay!!!!!
